.row{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.col{
    width: 250px;
    height: 250px;
    background-color: greenyellow;
    transform: translateY(300px);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}